& {
  // .vl-discover-container {
  .vl-discover-container {
    @import "inputRange";
    width: 100%;
    height: 100%;
    position: relative;

    // padding: 10px;

    .vl-indroduce-footer {
      background-color: #f7f7f7;
      width: 100%;
      height: 35px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .discover-footer {
        width: 100%;
        position: relative;
        padding: 0px 20px;

        .discover-action-btn {
          width: 100%;
          height: 100%;
          display: flex;

          .ico-but {
            position: relative;
            float: left;
            text-align: center;
            padding: 0px 10px;
            cursor: pointer;
            border: 1.5px solid #426ab2;
            color: #426ab2;
            margin-right: 7px;
            border-radius: 6px;
            height: max-content;
            background-color: #fff;

            &:disabled {
              cursor: default;
              opacity: 0.4;
            }

            &:hover {
              background-color: #1269d6;
              color: #fff;
              box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1269d6;

              .icon-add,
              .icon-print {
                filter: brightness(0) invert(1);
              }

              &:disabled {
                background-color: #fff;
                color: #426ab2;
                box-shadow: none;

                .icon-add,
                .icon-print {
                  filter: none;
                }
              }
            }

            &.resetButtonCont {
              background-color: #d8d8d8;
              color: #333333;

              &:disabled {
                background-color: #d8d8d8;
                color: #333333;
                box-shadow: none;

                .icon-add,
                .icon-print {
                  filter: none;
                }
              }
            }
          }

          .btn_text {
            float: right;
            padding: 0 7px 0 0;
            position: relative;
            margin-left: 7px;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 0.36px;
          }
        }
      }
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .sr-image {
      height: 100%;
      width: 100%;
      position: absolute;
    }

    .vl-canvas-container {
      height: calc(100% - 117px) !important;
      // height: calc(100% - 117px);
      // height: 320px !important;
      width: 100% !important;
      overflow: hidden !important;

      canvas {
        transform-origin: left top;
      }
    }

    // .vl-stick-notes {
    //   max-height: 35px !important;
    //   padding: 13px 4px 28px 10px !important;
    // }
    .vl-stick-notes {
      // max-height: 35px !important;
      overflow-y: scroll !important;
      scrollbar-width: none;
      // padding: 15px 4px 14px 10px !important;
      padding: 20px 4px 18px 10px !important;
      margin-top: -25px !important;
    }

    .vl-stick-notes::-webkit-scrollbar {
      display: none;
    }

    .vl-stick-notes::-moz-scrollbar {
      display: none;
    }

    .vl-discover {
      height: 100%;
      width: 100%;
      // padding: 10px;

      .vl-explore-activity-container > div {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        // padding: 10px;
        // padding-bottom: 0px;
      }

      .vl-discover-left {
        height: 636px;
        width: 870px;
        display: inline-block;
        transform-origin: left top;

        .image-container {
          background-image: url(../assets/images/explore/activity2/water_map_explore_screen_2.png);
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          box-sizing: border-box;
          position: absolute;
        }

        .vl-discover-activity-container {
          width: 100%;
          height: 100%;
          position: relative;
          background-repeat: no-repeat;
          background-size: cover;
          box-sizing: border-box;

          .discover-alert-popup {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.69);
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 99999;
            &.hidden {
              display: none;
              z-index: 0;
              width: 0;
              height: 0;
            }
            .popup-container {
              width: 80%;
              height: 70%;
              position: absolute;
              top: 15%;
              left: 10%;
              background-color: #fff;
              border-radius: 6px;
              .header {
                width: 100%;
                height: 62px;
                background-color: #e8e8e8;
                .close_action {
                  width: 40px;
                  height: 40px;
                  button {
                    top: 14px;
                    right: 14px;
                  }
                }
              }
              .body {
                width: 100%;
                height: calc(100% - 62px);
                display: flex;
                justify-content: space-between;
                padding: 20px;
                .map_image {
                  height: auto;
                  width: 100%;
                  background-image: url(../assets/images/explore/activity2/water_map_explore_screen_2.png);
                  background-repeat: no-repeat;
                  background-size: 100%;
                  position: relative;
                  .sample1 {
                    position: absolute;
                    top: 145px;
                    left: 74px;
                    color: #333333;
                    font-size: 12px;
                    font-weight: 900;
                    letter-spacing: 0.41px;
                    line-height: 28px;
                  }
                  .sample2 {
                    position: absolute;
                    top: 38px;
                    right: 266px;
                    color: #333333;
                    font-size: 12px;
                    font-weight: 900;
                    letter-spacing: 0.41px;
                    line-height: 28px;
                  }
                  .sample3 {
                    position: absolute;
                    top: 170px;
                    right: 256px;
                    color: #333333;
                    font-size: 12px;
                    font-weight: 900;
                    letter-spacing: 0.41px;
                    line-height: 28px;
                  }
                }
                .popup-text-container {
                  .popup-text {
                    color: #333333;
                    font-size: 24px;
                    font-weight: 300;
                    letter-spacing: 0.41px;
                    line-height: 31px;
                    margin: 15px 0px;
                  }
                }
              }
            }
          }

          .discover-slide3-activity-container {
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url(../assets/images/explore/activity3/water_test_lab_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            .draggingArea {
              width: 100%;
              height: calc(100% - 110px);
            }
            .accessible-list {
              ul {
                li {
                  a {
                    cursor: pointer;
                    list-style: none;
                    display: inline-block;
                    background: transparent;
                    border: none;
                    position: absolute;
                    height: 70px;
                    width: 36px;
                  }
                  &.water_sample1 {
                    a {
                      top: 258px;
                      left: 148px;
                    }
                  }
                  &.water_sample2 {
                    a {
                      bottom: 0x;
                      left: 190px;
                    }
                  }
                  &.water_sample3 {
                    a {
                      bottom: 276px;
                      left: 312px;
                    }
                  }
                  &.water_sample4 {
                    a {
                      bottom: 182px;
                      left: 162px;
                    }
                  }
                  &.water_sample5 {
                    a {
                      bottom: 182px;
                      left: 224px;
                    }
                  }
                  &.water_sample6 {
                    a {
                      bottom: 182px;
                      left: 286px;
                    }
                  }
                }
              }
            }

            .hotspot_image {
              position: absolute;
              box-sizing: border-box;
              &.water_level_map {
                height: 161px;
                width: 225px;
                top: 16px;
                left: 15px;
                background: url(../assets/images/explore/activity3/water_map.png)
                  no-repeat;
                background-size: 100%;
                box-sizing: border-box;
              }
            }
            .hotspot {
              height: 32px;
              width: 96px;
              background-color: white;
              border-radius: 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              cursor: pointer;
              padding: 0px;
              &.active {
                border: 1px solid #2a6b9d;
                span {
                  color: #1269d6;
                }
              }
              &.water_level_map {
                top: 186px;
                left: 80px;
                width: 80px;
              }
            }
            .lable {
              position: absolute;
              color: #333333;
              font-size: 17px;
              font-weight: 500;
              letter-spacing: 0.3px;
              line-height: 20px;
              &.pipette {
                top: 150px;
                left: 450px;
              }
              &.spectrophotometer {
                bottom: 192px;
                right: 44px;
              }
              &.cuvette_holder {
                bottom: 132px;
                right: 380px;
              }
              &.waste_container {
                bottom: 220px;
                left: 20px;
              }
              &.water_sample_lable1 {
                bottom: 254px;
                left: 200px;
              }
              &.water_sample_lable2 {
                bottom: 254px;
                left: 262px;
              }
              &.water_sample_lable3 {
                bottom: 254px;
                left: 322px;
              }
              &.water_sample_lable4 {
                bottom: 160px;
                left: 172px;
              }
              &.water_sample_lable5 {
                bottom: 160px;
                left: 234px;
              }
              &.water_sample_lable6 {
                bottom: 160px;
                left: 296px;
              }
            }
            .water_bottle {
              position: absolute;
              height: 72px;
              width: 32px;
              bottom: 199px;
              left: 15px;
              background: url(../assets/images/explore/activity3/water_bottle.png)
                no-repeat;
              background-size: 32px;
              box-sizing: border-box;
              &.water_sample1 {
                bottom: 274px;
                left: 190px;
              }
              &.water_sample2 {
                bottom: 276px;
                left: 250px;
              }
              &.water_sample3 {
                bottom: 276px;
                left: 312px;
              }
              &.water_sample4 {
                bottom: 182px;
                left: 162px;
              }
              &.water_sample5 {
                bottom: 182px;
                left: 224px;
              }
              &.water_sample6 {
                bottom: 182px;
                left: 286px;
              }
            }
            .tooltip {
              &.tooltip_pipette_dragging {
                right: 60px;
                top: 50px;
              }
            }
            .pipette_dragging {
              div {
                background-image: url(../assets/images/explore/activity3/pipette.png);
                background-size: 100%;
                background-repeat: no-repeat;
                width: 44px;
                height: 158px;
                position: absolute;
                cursor: pointer;
                top: 90px;
                left: 376px;
                z-index: 100;
              }
              button {
                position: absolute;
                top: 90px;
                left: 376px;
                width: 46px;
                height: 160px;

                padding: 0;
                border: none;
                background: transparent;
                &:hover {
                  box-shadow: none !important;
                }
              }
            }
          }
          .discover-slide1-activity-container {
            width: 100%;
            height: 100%;
            position: relative;
            background-image: url(../assets/images/explore/BG.png);
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;

            .accessible-list {
              ul {
                li {
                  &.slide_place {
                    a {
                      cursor: pointer;
                      list-style: none;
                      display: inline-block;
                      background: transparent;
                      border: none;
                      position: absolute;
                      top: -1px;
                      left: -2px;
                      height: 31px;
                      width: 124px;
                    }
                  }
                }
              }
            }

            .draggingArea {
              width: 100%;
              height: calc(100% - 110px);
            }
            .image-zoom-popup {
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.69);
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 99999;
              &.hidden {
                display: none;
                z-index: 0;
                width: 0;
                height: 0;
              }
              .popup-container {
                width: 80%;
                height: 70%;
                position: absolute;
                top: 15%;
                left: 10%;
                background-color: #fff;
                border-radius: 6px;
                .header {
                  width: 100%;
                  height: 62px;
                  background-color: #e8e8e8;
                  .close_action {
                    width: 40px;
                    height: 40px;
                    button {
                      top: 14px;
                      right: 14px;
                    }
                  }
                }
                .body {
                  width: 100%;
                  height: calc(100% - 62px);
                  display: flex;
                  justify-content: space-between;
                  padding: 20px;
                  .image_box {
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    overflow: hidden;
                    width: 600px;
                    height: 100%;
                    .slide_image {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      transition: all 0.2s ease 0s;
                      background-size: contain;
                      background-image: url(../assets/images/discover/water_slide_image.png);
                      transform-origin: 50% 50%;
                    }
                  }
                  .zoom_btn_box {
                    display: flex;
                    flex-direction: column;
                    .button_divider {
                      height: 10px;
                      width: 40px;
                    }
                    button {
                      box-sizing: border-box;
                      height: 40px;
                      width: 40px;
                      border: 1px solid #1269d6;
                      background-color: #f1eeee;

                      color: #1269d6;
                      font-size: 40px;
                      font-weight: 900;
                      letter-spacing: 0.71px;
                      line-height: 55px;
                    }
                  }

                  .zoom-out-tooltip {
                    top: 135px;
                    right: 70px;
                  }
                  .zoom-in-tooltip {
                    top: 90px;
                    right: 70px;
                  }
                }
              }
            }
            .hotspot_microscope {
              position: absolute;
              height: 350px;
              width: 210px;
              top: 23px;
              left: 100px;
              background: url(../assets/images/introduce/microscope.png)
                no-repeat;
              background-size: 200px;
              box-sizing: border-box;
            }
            .reset-btton {
              position: absolute;
              bottom: 30px;
              left: 10px;
              border: 2px solid #1269d6;
              border-radius: 6px;
              background-color: #d8d8d8;
              color: #333333;

              &:disabled {
                color: #959595;
              }
              &:not(:disabled):hover {
                box-shadow: 0 0 0 1px white, 0 0 0 2.5px #0000c0 !important;
              }
              &:not(:disabled):focus {
                box-shadow: 0 0 0 2px white, 0 0 0 5px #0000c0;
              }
            }

            .slide_place {
              position: absolute;
              top: 234px;
              left: 174px;
              box-sizing: border-box;
              height: 33px;
              width: 124px;
              border: 2px dashed #1269d6;
              background-color: #d0e3fb;
              &.slidedrop {
                width: 50px;
                height: 20px;
                background: url(../assets/images/discover/water_slide.png)
                  no-repeat;
                background-size: 50px;
                box-sizing: border-box;
                border: none;
                top: 238px;
                left: 220px;
              }
            }
            .slide-box {
              height: 104px;
              width: 204px;
              background-color: #ffffff;
              box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.55);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 4px;
              &.water_slide {
                position: absolute;
                top: 394px;
                left: 160px;
              }
              &.fish_slide {
                position: absolute;
                top: 394px;
                left: 420px;
              }
              .highlight_box {
                box-sizing: border-box;
                height: 74px;
                width: 195px;
                padding: 4px;
                &:hover {
                  border: 2px solid #a39300;
                }
                .active {
                  border: 2px solid #a39300;
                }
                .visited {
                  border: 2px solid #a39300;
                }
                .slide_place_box {
                  box-sizing: border-box;
                  height: 62px;
                  width: 182px;
                  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.55);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &.disable {
                    cursor: not-allowed;
                    button {
                      z-index: 3;
                    }
                    div {
                      z-index: 0;
                    }
                  }
                  button {
                    padding: 0;
                    width: 100px;
                    height: 38px;
                    position: relative;
                    border: none;
                    background: transparent;
                    &:hover {
                      outline: none;
                      border: none;
                      box-shadow: none !important;
                    }
                  }
                  .slide_sample {
                    position: absolute;
                    top: 20px;
                    left: 50px;
                    width: 100px;
                    height: 38px;
                    z-index: 3;
                    &.hidden {
                      display: none;
                    }
                    &.water_sample {
                      background: url(../assets/images/discover/water_slide.png)
                        no-repeat;
                      background-size: 100px;
                    }
                    &.fish_sample {
                      background: url(../assets/images/discover/water_slide.png)
                        no-repeat;
                      background-size: 100px;
                    }
                  }
                }
              }
              span {
                color: #333333;
                font-size: 17px;
                font-weight: 300;
                letter-spacing: 0.3px;
                line-height: 20px;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }

    .vl-discover-right {
      background-color: white;
      height: 100%;
      overflow: hidden;
      position: relative;

      .vl-audio-container {
        display: flex;
        // height: calc(100%-110px);
        height: 50px;
        padding-left: 2px;

        .discover-heading h2 {
          margin: 15px 7px 0 0 !important;
        }

        .vl-audio-container-header {
          // padding-right: 10px;
          background-color: #fff;
          color: #333;
          // font-family: AvenirHeavy;
          font-family: AvenirBook !important;
          font-size: 24px;
          // height: 50px;
          margin-top: 15px;
          padding-right: 15px;
          // line-height: 50px;
          cursor: default;
          // padding-top: 3px;
        }
      }

      .text-container {
        // font-size: 23px;
        // color: #4c4c4c;
        // // font-family: AvenirLTPro;
        // // overflow-y: auto;
        // height: calc(100% - 57px);
        // width: calc(100% - 11px);
        // margin-left: 6px;
        // line-height: 28px;
        // padding: 0 7px 0 0;
        font-size: 23px;
        color: #4c4c4c;
        overflow-y: auto;
        // height: calc(100% - 60px);
        height: 100%;
        margin-bottom: 25px;
        line-height: 28px;
        padding: 0 7px 0 0;
        margin-top: 15px;
        font-family: AvenirBook !important;
        font-size: 24px;
        line-height: 28px;
        width: 100%;
        text-align: left !important;
        /* height: calc(100% - 50px); */
        padding-right: 17px;

        .text-box {
          height: calc(100% - 95px);
          // overflow-y: auto;
          // margin-bottom: 5px;
          // padding-right: 17px;
          text-align: justify;
        }

        p {
          margin: 0 0 10px;
        }

        h2 {
          font-family: AvenirBook !important;

          // font-family: AvenirHeavy;
          font-weight: 400;
          margin: 0 0 10px;
          font-size: 21px;
        }
      }

      .notebook-textEditor-container {
        width: 100%;
        height: 145px;

        .vl-text-editor-container {
          height: 100%;

          .vl-content-editable {
            height: calc(100% - 35px);
            width: 100%;
          }

          .vl-notebook-toolbar-editor {
            width: 100%;
          }

          .vl-list {
            left: -5px;

            &:before {
              right: 25px;
            }
          }
        }
      }
    }

    // }
  }

  .vl-discover-footer {
    background-color: #f7f7f7;
    width: 100%;
    height: 35px;
    text-align: center;

    .vl-bottom-panel {
      position: absolute;
      /* bottom: 0; */
      left: 0;

      /* height: 35px; */
      /* display: flex;*/
      .button-box {
        display: flex;

        .discover-buttons {
          height: 35px;
          width: 30px;
          padding: 5px;
          text-align: center;
          margin-right: 5px;
          background-color: #f7f7f7;
          border: none;
          font-size: 21px;
          cursor: pointer;
          color: #545352;
          display: inline-flex;

          &:hover {
            color: #000;
            box-shadow: none !important;
          }
        }
      }
    }

    .discover-footer {
      width: 100%;
      position: relative;
      padding: 0px 20px;

      .discover-action-btn {
        width: 100%;
        height: 100%;
        display: flex;

        .ico-but {
          position: relative;
          float: left;
          text-align: center;
          padding: 0px 10px;
          cursor: pointer;
          border: 1.5px solid #426ab2;
          color: #426ab2;
          margin-right: 7px;
          border-radius: 6px;
          height: max-content;
          background-color: #fff;

          &:disabled {
            // cursor: default;
            opacity: 0.4;
            cursor: not-allowed;
          }

          &:hover {
            background-color: #1269d6;
            color: #fff;
            box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1269d6;
            // border: 2px solid #1269d6 !important;

            .icon-add,
            .icon-print {
              filter: brightness(0) invert(1);
            }

            &:disabled {
              background-color: #fff;
              color: #426ab2;
              box-shadow: none;

              .icon-add,
              .icon-print {
                filter: none;
              }
            }

            &:hover:not(:disabled) {
              color: #fff;
              background-color: #1269d6;
              box-shadow: 0 0 0 1px white, 0 0 0 2.5px #1269d6 !important;
            }
          }
        }

        .btn_text {
          float: right;
          padding: 0 7px 0 0;
          position: relative;
          margin-left: 24px;
          font-size: 20px;
          font-weight: 900;
          letter-spacing: 0.36px;
        }
      }
    }
  }
}

&.portrait.medium {
  .tab-panels {
    height: calc(100%-90px);
  }

  .vl-discover-right {
    .text-container {
      font-size: 23px;
      color: #4c4c4c;
      overflow-y: auto;
      // height: 140px !important;
      height: calc(100% - 65px);
      margin-bottom: 25px;
      line-height: 28px;
      padding: 0 7px 0 0;
      margin-top: 15px;
      font-family: AvenirBook;
      font-size: 24px;
      line-height: 28px;
      width: 100%;
      text-align: left !important;
      /* height: calc(100% - 50px); */
      padding-right: 17px;

      .text-box {
        height: calc(100% - 95px);
        // overflow-y: auto;
        // margin-bottom: 5px;
        // padding-right: 17px;
        text-align: justify;
      }

      p {
        margin: 0 0 10px;
      }

      h2 {
        // font-family: AvenirHeavy;
        font-weight: 400;
        margin: 0 0 10px;
        font-size: 21px;
      }

      li {
        margin: 0 0 10px;
      }
    }
  }

  @media only screen and (max-height: 978px) and (max-width: 811) {
    .vl-discover {
      .vl-scalable-wrapper-right {
        // border: 2px solid red;
        background-color: red;
        height: calc(100% - 270px) !important;
        margin-top: -5px !important;
      }
    }
  }
}

&.landscape.small {
  .vl-discover-container {
    .vl-discover {
      .vl-scalable-wrapper-container {
        padding: 5px;

        .vl-scalable-wrapper-right {
          padding: 5px 2px;
        }
      }

      .text-container {
        font-size: 20px;
      }
    }
  }
}

&.landscape.large {
  .vl-carousel-inner-container {
    height: calc(100% - 35px);
    margin: 0px;
  }
  .vl-discover-right {
    .text-container {
      font-size: 23px;
      color: #4c4c4c;
      overflow-y: auto;
      // height: 300px !important;
      margin-bottom: 25px;
      line-height: 28px;
      padding: 0 7px 0 0;
      margin-top: 15px;
      font-family: AvenirBook !important;
      font-size: 24px;
      line-height: 28px;
      width: 100%;
      text-align: left !important;
      height: calc(100% - 68px) !important;
      padding-right: 17px;

      .text-box {
        height: calc(100% - 95px);
        // overflow-y: auto;
        // margin-bottom: 5px;
        // padding-right: 17px;
        text-align: justify;
      }

      p {
        margin: 0 0 10px;
      }

      h2 {
        // font-family: AvenirHeavy;
        font-family: AvenirBook !important;

        font-weight: 400;
        margin: 0 0 10px;
        font-size: 21px;
      }
      li {
        margin: 0 0 10px;
      }
    }
  }
}
